[Unit]
Description=VictoriaMetrics Select server
Documentation=https://github.com/VictoriaMetrics/VictoriaMetrics

[Service]
Restart=always
User=vmselect
Group=vmselect
EnvironmentFile=/etc/sysconfig/vmselect
ExecStart=/usr/local/bin/vmselect-prod $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target